<div>
    <p-card header="Welcome to Employee Dashboard" [style]="{'width': '40rem', 'margin-bottom': '2em','margin-left':'25em','margin-top':'3em'
        ,'height':'20em'}">
        <div style="margin-left: 4em;">    
          <p>Click below button to create or see employee details</p>
          <span>
              <p-button label="Create Employee" (click)="createEmp()"></p-button>
          </span>
          <span style="margin-left: 20%;">
              <p-button label="Employee Details" (click)="getEmpDetails()"></p-button>
          </span>
      </div>
    </p-card>
  </div>